@font-face{
    font-family: Troupers;
    src: url('Troupers\ Capitals1.ttf') format('truetype')
}
@font-face {
    font-family: Boquerón;
    src: url('Boquerón.ttf') format('truetype')
}
h1{
    color:black;
    
    font-size: 60px;
    font-family: Troupers;  
}
nav{
    
    font-size: 30px;
    font-family: Boquerón;  
    width: 100%;
    background-color: rgba(0,0,0,.4);

}
p{
    text-align: justify;
    color: green;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h5{
    color: white;
    font-family: Boquerón;
    font-size: 40px;
}
h4{
    color: green;
    font-family: Boquerón;
    font-size: 30px;
}

p1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    color:green;
    font-family: Boquerón;
    font-size: 30px;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(bambu.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.footer{
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;

}   

a:link{
    text-decoration: underline;
}
.container{
    width: 100%;
    overflow:hidden ;
    
}

.container{
width: 100%;
overflow: hidden;
margin: 10px auto;
padding: 10px 0px;
display: flexbox;
;
}
.container figure{
position: relative;
box-sizing: border-box;
margin: 40px 30px 0px 40px;
list-style: initial;
height: 300px;
float: left;
width: 300px;
overflow: hidden;
border-radius: 6px;
box-shadow: 0px 15px 25px
rgba(0,0,0,0.50);
cursor: pointer;
}

.container figure img{
width: 100%;
height: 100%;
transition: all 500ms ease-out;
}
.container figure .capa{
position: absolute;
top: 0;
width: 100%;
height: 100%;
background: rgba(0, 103, 123, 0.7);
transition: all 500ms ease-out;
opacity: 0;
visibility: hidden;
text-align: center;
}
.container figure:hover > .capa{
opacity: 1;
visibility: visible;
}

.container figure:hover > .capa h3{
margin-top: 70px;
margin-bottom: 15px;
}

.container figure:hover > img{
transform: scale(1.2);
}

.container figure .capa h3{
color: #fff;
font-weight: 400;
margin-bottom: 120px;
transition: all 500ms ease-out;
margin-top: 30px;
}

.container figure .capa p{
color: #fff;
font-size: 15px;
line-height: 1.5;
width: 100%;
max-width: 220px;
margin:auto;
}

.contenedor{
    width: 95%;
    overflow: hidden;
    margin: 20px auto;
    padding: 10px 0px;
    display: flexbox;
    background-color: rgba(13, 156, 149, 0.4);
    }

label{
    color: black;
    font-family: Boquerón;
    font-size: 20px;
}
::placeholder{
    color: rgb(13, 114, 44);
    font-family: Boquerón;
    font-size: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .show {display:block;}

